

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#video{
	height: 340px;
	width:560px;
}

#preview{
	width:100%;
	height: 300px;
}

#slides{
	width:100%;
	height: 500px;	
}
















