

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#video-container, #preview, #slides{
	height: 400px;
}
#video{
	height: 340px;
	width:560px;
}
















